header {
  background-color: gray;
  height: 60px;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 2em;
  margin-right: 2em; /* Ajusta el margen izquierdo para separar del bloque .logo */
  margin-left: 0%; /* Ajusta el margen izquierdo para separar del bloque .logo */

}

.logo__img {
  background-color: blue;
  height: 3em;
}

.menu__list {
  background-color: green;
  margin-left: 3em; /* Ajusta el margen izquierdo para separar del bloque .logo */
}


.menu__list li a {
  background-color: pink;
  color:blue;
}


/*Sección Menu*/
 /* REVISIÓN
section.menu{
  background-color: blue;
} REVISIÓN */
  
.menu__list {
  display: flex;
}
  
.menu__header {
  display: flex; /* Utiliza flexbox */
  align-items: center; /* Centra verticalmente los elementos */
  background-color: green;
}
  
.menu__header img {
  margin-right: 10px; /* Agrega un espacio entre la imagen y el texto */
}
  
  
/*Sección Title*/
section.title{
  background-color: green;
  display: flex; /* Inicia flexbox en el contenedor */
  padding: 0; /* Elimina el relleno de la lista */
}
  
.title__profile {  
  border-radius: 50%; /* Hace que la imagen tenga bordes redondeados, creando un círculo */
}
  

 
/* Estilos para los elementos de la red social */
.title__network {
  display: flex; /* Inicia flexbox en el contenedor */
  list-style: none; /* Elimina los estilos de la lista */
  padding: 0; /* Elimina el relleno de la lista */
}

.title__network__item {
  margin-right: 10px; /* Agrega un espacio entre cada elemento */
}

/*Tablet*/
@media (max-width: 1024px) {
  header {
    padding: 20px 100px;     
    flex-direction: column; 
  }

  .logo {
    font-size: 16px;

  }
    
  /* Menú */
  .menu__list {
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 10px;
  }
    
}


 
/*Mobile*/
@media (max-width: 425px) {
  /* Menú */

  

  .logo {
    background-color: red;
  }
  .menu__list li:not(:last-child) {  /* Ocultar todos los elementos de la lista del menú excepto el último hijo */
      display: none;
  }

  .menu__list li:last-child {
    margin-left: auto; /* Puedes ajustar este valor según tu diseño */
  }


  /*title*/
  .title__profile {
    width: 98px;
    height: 98px;
    position: relative;
  }

  /* Estilos para el elemento de contacto en la esquina superior derecha */
  .menu__item--contato {
    position: absolute;
    top: 1em;
    right: 0;
    margin-right: 10px; /* Ajustar el margen para que no se solape con otros elementos */
  }

  .menu__list {
    display: flex;
  }

  .menu__item {
    margin-right: 10px; /* Agregar un espacio entre cada elemento del menú */
  }

}

